* {
  line-height: 1.5;
  font-weight: 400;
  animation-duration: 0.35s;
  font-family: "Hind Siliguri", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerContainer {
  background-color: #08284d;
}

.listaNav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 7;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.3s ease-in;
}

.menu.scrolled[data-v-3205db98] {
  position: fixed;
  background-color: #795904;
}
.logo-top {
  padding: 0.75rem;
}
.lista-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
  margin: 0;
  justify-content: center;
  background-color: #08284d;
  justify-content: space-between;
}

.listagem {
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
  list-style-type: none;
  padding: 0.5rem;
}
.listagem1 {
  cursor: pointer;
  transition: color 0.3s ease;
  list-style-type: none;
  padding: 0.5rem;
  width: 55px; 
  height: 50px; 
  border-radius: 50%; 
}

.listagem:hover {
  color: #da6709;
}
