.footerBox {
  display: flex;
  flex-wrap: wrap; /* permite quebrar linha quando não couber */
  background-color: rgb(80, 111, 255);
  padding: 2rem;
  gap: 2rem;
  opacity: 1;
  animation: showUp 0.8s ease-in;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: flex-start;
  color: white;
}

.listUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerItem {
  display: flex;
  flex-direction: column;
  flex: 1; /* ocupa espaço proporcional */
  min-width: 200px; /* garante que não fique estreito demais */
  gap: 0.75rem;
}

.listagemFooter:hover {
  color: white;
}

.socialMidia {
  height: clamp(2rem, 5vw, 3rem);
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .footerBox {
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
  }

  .footerItem {
    border-left: none;
    width: 100%;
    margin-bottom: 2rem;
  }

  .socialMidia {
    height: 2.5rem;
  }
}
