.footerBox {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(120, 145, 255);
  padding: 2rem;
  gap: 2rem;
  opacity: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: flex-start;
  color: white;
}

.listUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listU2 {
  display: grid;
  align-items: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
  margin: 0;
  justify-content: flex-start;
}

.footerItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  gap: 0.75rem;
}

.listagemFooter {
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
  list-style-type: none;
  height: 30px;
}

.listagemFooter:hover {
  color: #4596f1;
}

.socialMidia {
  display: flex;
  justify-content: center;
  height: clamp(2rem, 5vw, 3rem);
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .footerBox {
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
  }

  .footerItem {
    border-left: none;
    width: 100%;
    margin-bottom: 2rem;
  }

  .socialMidia {
    height: 2.5rem;
  }
  .listU2 {
    justify-content: center;
  }

  h1 {
    padding: 0;
  }
}
